*{
	text-decoration: none;
	padding: 0px;
	font-family: sans-serif;
}
body{
	background-image: url('images/sea.jpg');
	background-size: cover;
	height: 115vh;
	background-repeat: none;
}
.header {
	margin: 980px 20px;
	display: inline;
	width: 85%;
	height: 15%;
}
.header .logo{
	margin-left: 10px;
	width: 13%;
}
.header .btn{
	float: right;
	margin-right: 90px;
}
#btn{
	color: white;
}
#btn:hover{
	color: navy;
}
.btn{
	border-radius: 15px;
	background: transparent;
	border: 2px solid #fff;
	cursor: pointer;
	outline: none;
	color: white;
	padding: 10px 20px;
	font-size: 14px;
}
.btn:hover{
	background: lightblue;
	color: navy;
}
.cont h1{
	font:  bold 80px tahoma;
	color: white;
	margin-top: 0px;
}
.cont h3{
	color: white;
	
	margin-bottom: 10px;
	font: 30px forte;
}
.cont{
	margin-left: 40px;
}
.side-bar{
	width: 80px;
	height: 120vh;
	background: linear-gradient(transparent, lightblue);
	position: absolute;
	top: -550px;
	right: 0;
	bottom: 0;
	opacity: 0;
	transform: scale(0.1);
	
}
.popup{
	opacity: 1;
	top: 50px;
	transform: scale(1);
	border-left: solid 5px blue;
}
.option{
	opacity: 0;
}
.social-link img{
	width: 45px;
	padding-bottom: 25px;
	padding-left: 10px;
}
.menu{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 20px;
	right: 0;
	transition: transform 0.5s;
}
.menu-cont .menu img{
	cursor: pointer;
	transition: transform (20s);
}
.menu:hover{
	background: lightblue;
	transform: rotate(270deg);
}
.menu:active{
	transform: scaleX(1.5);
}
.close-btn{
	background: blue;
	color: white;
	margin-left: 60px;
	font-size: 25px;
	text-align: center;
	cursor: pointer;
}
.close-btn:hover{
	background: red;
}
.bubbles{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: -150px;
}
.bubbles img{
	width: 20px;
	opacity: 0.2;
}
@keyframes bubble{
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	30%{
		opacity: 0.1;
	}
	50%{
		opacity: 0.3;
	}
	70%{
		opacity: 0.5;
	}
	100%{
		opacity: 0;
		transform: translateY(-90vh);
	}
}
.bubbles img:nth-child(1){
animation: bubble 7s linear infinite ;
width: 45px;
}
.bubbles img:nth-child(2){
animation: bubble 8.7s linear infinite ;
width: 90px;
}
.bubbles img:nth-child(3){
width: 25px;
animation: bubble 6.3s linear infinite ;
}
.bubbles img:nth-child(4){
animation: bubble 9.4s linear infinite ;
width: 50px;
}
.bubbles img:nth-child(5){
animation: bubble 5s linear infinite ;
width: 35px;
}
.bubbles img:nth-child(6){
width: 75px;
animation: bubble 11s linear infinite ;
}
.bubbles img:nth-child(7){
width: 40px;
animation: bubble 9s linear infinite ;
}
.bubbles img:nth-child(8){
width: 70px;
animation: bubble 6s linear infinite ;
}
.content{
	margin: 10px 0px;
	text-align: center;
	width: 102%;
	height: 50px;
	margin-left: 0px;
	line-height: .1px;
}
.content-1{
	display: inline;
	float: left;
	box-sizing: border-box;
	width: 33%;
	padding: 10px;
	border-right: solid  6px white;
	height: 50px;
	cursor: pointer;
	color: white;
}
.content-1:hover{
	background: lightblue;
	color: navy;
}

.text{
	padding: 5px 50px;
	position: absolute;
	top:680px;
	opacity: 1;
	transform: scale(1);
	color: white;
	text-align: center;
	width: 100%
}
.text-1{
	padding: 5px 50px;
	position: absolute;
	top: -80px;
	opacity: 0;
	transform:  scale(0.1);
	color: white;
}
.text-2{
	padding: 5px 50px;
	position: absolute;
	top: -80px;
	opacity: 0;
	transform:  scale(0.1);
	color: white;
}
.popup-design{
	border-bottom: solid 5px blue;
	width: 103%;
	margin-left: -7px;
	align-items: center;
	box-sizing: border-box;
}
.text-pop{
	opacity: 1;
	top: 680px;
	transform:  scale(1);
	text-align: center;
	width: 100%;
}
.text-deft{
	position: absolute;
	top: 680px;
	opacity: 1;
	transform:  scale(1);
	text-align: center;
	width: 100%;
	color: white;
}
.remove{
	opacity: 0;
	transform:  scale(0.1);
	top: -180px;
}